.input_common {
    width: auto;
    min-width: 200px;
    max-width: 420px;
    margin: 20px;
}

.button_common {
    width: auto;
    min-width: 200px;
    max-width: 420px;
    margin: 20px;
}

.mobile_hint {
    display: block;
    margin: 10px;
}

.desktop_hint {
    display: none;
}